<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd">

  	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/bbws.properties" />
	</bean>
  <bean id="queryService" class="tlt.queryapp.QueryService" />
  
  <bean id="queryController" class="tlt.queryapp.QueryController" >
    <property name="queryService" ref="queryService" />
   	<property name="blackboardServerURL" value="${bbws.blackboardServerURL}" />
   	<property name="clientVendorId" value="${bbws.clientVendorId}" />
   	<property name="clientProgramId" value="${bbws.clientProgramId}" />
   	<property name="modulePath" value="${bbws.modulePath}" />
   	<property name="sharedSecret" value="${bbws.sharedSecret}" />
   	<property name="username" value="${bbws.username}" />
   </bean>

</beans>


